# Temporary and backup files
*~
*.tmp
*.code-workspace

# Ignore sandbox folders in all weeks

week*/sandbox/*
week*/handout
week*/lecture


# Keep directory structure with .gitkeep files
!week*/results/.gitkeep

# Ignore myenv folder in CMEECourseWork (and parallel week folders)
myenv/
